{% extends "themes.twig" %}
{% use "@AbstractModules/plugins/progress.twig" %}
{% block headcss %}
    <!-- Bootstrap-select Custom CSS -->
    <link
        href="/{{_ROOTWEB}}Framework/BootstrapSelect/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <!-- multi-select Custom CSS -->
    <link href="/{{_ROOTWEB}}Framework/BootstrapMultiSelect/css/multi-select.dev.css" rel="stylesheet" type="text/css"/>
    <link href="/{{_ROOTWEB}}Framework/JqueryConfirm/jquery-confirm.min.css" rel="stylesheet" type="text/css"/>
    <link href="/{{_ROOTWEB}}Framework/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/{{_ROOTWEB}}Framework/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/{{_ROOTWEB}}Framework/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/{{_ROOTWEB}}Framework/Select/css/select.bootstrap.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block container %}
    <!-- style box view -->
    <div id="divmodule" class=" clearfix hidden" style="">
        <div class=" table-responsive" style="font-size: 11px;     overflow-x: visible;">
            <div class="panel panel-default box shadow-4dp" style="    padding: 0px;">


                <div class="panel-heading">
                    <i class=" glyphicon glyphicon-usd"></i> blalblablalblablalbla
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-default  " id="btnpanelperentstatistiqe" type="button">
                                <span class="glyphicon glyphicon-floppy-saved" style="    color: #337ab7;"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin:5px">
                    <div class="col-md-12 table-responsive" style="font-size: 11px;     overflow-x: scroll;">
                        <div class="row showdata" style="width:80% ;    margin: 0 auto; " >


                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>


    <!-- show data  -->
    <div id="status"></div>

    
    <!-- create form par js  -->
    <div id="showform" data-namecontroller="{{_Controller}}" data-namemodule="{{_Module}}" class="row"></div>

    {{ block('progress') }}
{% endblock %}
{% block footer %}
    <script src="/{{_ROOTWEB}}Framework/BootstrapMultiSelect/js/jquery.quicksearch.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}Framework/BootstrapMultiSelect/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}Framework/BootstrapSelect/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}Framework/BootstrapSelect/i18n/defaults-fr_FR.min.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}Framework/JqueryConfirm/jquery-confirm.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/BootstrapMultiSelect/js/jquery.quicksearch.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}Framework/BootstrapMultiSelect/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}Framework/BootstrapSelect/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}Framework/BootstrapSelect/i18n/defaults-fr_FR.min.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}Framework/JqueryConfirm/jquery-confirm.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/DataTables/js/dataTables.bootstrap.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/Buttons/js/buttons.colVis.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/Buttons/js/buttons.html5.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/Responsive/js/responsive.bootstrap.min.js"></script>
    <script src="/{{_ROOTWEB}}Framework/Select/js/dataTables.select.min.js"></script>

    <script src="/{{_ROOTWEB}}AWA/AWA_FormChild.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}AWA/formJs.js" type="text/javascript"></script>

    <script src="/{{_ROOTWEB}}AWA/AWA_CalculeAutoInput.js" type="text/javascript"></script>
    <script src="/{{_ROOTWEB}}AWA/AWA_ConfigMultiSelect.js"></script>
    <script src="/{{_ROOTWEB}}AWA/pluginsMultiSelectCalcule.js" type="text/javascript"></script>


{% endblock %}
